p{
    color: rgb(111, 0, 255);
    font-weight: bold;
    text-align:left;
    margin-right: 5px; 
}
h1{
    font-weight: bold;
    color:black;
    font-family:georgia;
    text-align:center;
    font-size: 70px;
}
h2{
    text-align: center;
    font-family: Georgia;
    color: red;
}
h3{
    text-align: center;
    font-family: Georgia;
    color: red    
}
body{
    background-color:#afaaad;
}
header{
    margin: 0 15px;
    background-color: rgb(32, 80, 182);
    height: 200px;
    padding-top: 50px;
}
footer {
    text-align:center;
    background-color: rgb(32, 80, 182);
    color: white;
    margin: 195px 0px;
    height: 40px;
  }
#navbar{
    background-color: rgb(73, 110, 79);
    margin: 0 15px;
    height: 50px;
    padding: 6px 0;
}
 #navbar ul{
    list-style-type: none;
    overflow: hidden;
    z-index: 100;   
}
#navbar li{
    text-align: justify;
    float: left;
    padding-inline-start: 25px;    
}
#navbar li a{
    display: inline-block;
    text-decoration: none;
    font-size: 25px;
    text-align: center;
    color: aliceblue;
}
.myicono:hover,
#navbar li a:hover{
    background-color: aqua;
    color: black;
    transition: 1s;
}
.myicono{
    float: right;
    color: rgb(148, 42, 42);
    font-size: 2.5em;
    cursor: pointer;
    display: none;
}

/**banner*/
#banner{
    margin: 0 15px;
    background-image: url(https://mvera3900.github.io/Cv-MarcosVera.github.io/imagenes/tunel.jpg);
    height: 70vh;
    background-size: cover;
    background-position: center;   
}
#banner::before{
    content: "";
    background: rgba(77, 92, 77, 0.4);
    position: absolute;
    width: 97.8%;
    height: 70vh;
}
.contenido-banner{
    position: relative;    
}
.contenido-banner h3{
    font-size: 30px;
    font-weight: 500;
    text-align: left;
    padding: 20px 50px;    
}
.contenido-banner p{
    position: relative;
    text-align: left;
    width: 80%;
    color: black;
    font-size: 20px;
    padding: 0px 20px;
    justify-content: center;
    flex-direction: column;
}
.contenido-banner img{
    width: 30vh;
    position: relative;
    border-radius: 100%;
    float: right;
}
